include test/unittests.py examples/2mass.tbl examples/3000030_1_sed.fits.gz examples/aj285677t3_votable.xml examples/catalog_1.fits.gz

include README.rst
include CHANGES.rst
include INSTALL.rst
include LICENSE.rst

include distribute_setup.py
recursive-include packagename *.pyx *.c

recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

exclude *.pyc *.o 
prune docs/_build
prune build